// colors
$color-bg: #ffffff;
$color-bg-dark: #12002b;
$color-text: #2c3e50;
$color-feature-text: #222222;
$color-primary: #00bc77;
$color-active: #42b983;
$color-border: #000000;
$color-footer-border: #cccccc;

// breakpoints
$breakpoints: (
  desktop: 920px,
  laptop: 720px,
  mobile: 480px,
)