.button {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-bg;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1rem;
  &.edit {
      padding: 10px;
      display: unset;
      width: unset;
      margin-top: unset;
      font-size: unset;
  }
  &.transaction {
    @media (min-width: map-get($breakpoints, laptop)) {
      width: 200px;
    }
  }
  &.close {
    background-color: $color-bg;
    color: $color-bg-dark;
    border: 0;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    @media (min-width: map-get($breakpoints, laptop)) {
      width: 35px;
      height: 35px;
      margin: .7rem;
    }
  }
}