.button {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-bg;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1rem;
  &&-edit {
    padding: 10px;
    display: unset;
    width: unset;
    margin-top: unset;
    font-size: unset;
  }
}