.features {
  display: flex;
  flex-direction: column;
  @media (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
  }
  &__icon {
    width: 100px;
    border: 10px solid $color-primary;
    border-radius: 50%;
    padding: 1rem;
  }
  &__item {
    flex: 1;
    padding: 2.5rem;
    &__title {
      color: $color-feature-text;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}