.form {
  box-sizing: border-box;
  background-color: $color-bg;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  &__icon {
    font-size: 5rem;
  }
  &--edit {
    color: $color-text;
    padding: 2rem 0;
    margin-top: 0;
    h2 {
      margin: 0 0 1rem 0;
    }
    &__button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}